.hero-section{
     background-image: url('../../../images/banner.png'); 
     box-shadow: inset 0 0 0 2000px rgb(18 18 18 / 57%);
    /* background:linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)), url('../../../images/banner.png'); */
        height:600px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
}
.mask{
    display: flex;
    align-items: end;
    height: inherit;
}
.hero-text h3{
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 1px;
    
}
.hero-text {
    text-align: left;
    
}
.hero-text p{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
}


@media (max-width: 800px) {
    .hero-section{
        /* height:430px; */
        height: auto;
        padding-left: 30px;
        padding-top: 80px;
        padding-right: 30px;
    }
    .banner-text{
        font-size: 35px !important;
    }
    .mask{
        display: block;
        /* height: auto; */
   
    }
    .container{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .banner-contain{
        align-items: baseline !important;
    }
    .join-btn{
        border: 0.8px solid #FFFFFF;
border-radius: 4px;
font-size: 16px;
font-weight: 500;
color: #FFFFFF;
    }
    .hero-text{
        padding-left: 0px ;
        padding-top: 0px;
    }
    
}